@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Brother 1816';
    src: url("/fonts/Brother1816-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brother 1816';
    src: url("/fonts/Brother1816-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brother 1816';
    src: url("/fonts/Brother1816-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brother 1816';
    src: url("/fonts/Brother1816-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brother 1816';
    src: url("/fonts/Brother1816-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brother 1816';
    src: url("/fonts/Brother1816-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

* {
    font-family: 'Brother 1816';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown-child {
    max-height: 0;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.dropdown-child.open {
    max-height: 1000px; /* Arbitrary large value to accommodate content */
    padding-top: 10px;  /* Adjust based on your design */
    padding-bottom: 10px; /* Adjust based on your design */
}

.dropdown-icon {
    transition: transform 0.3s ease;
}

.dropdown-icon.open {
    transform: rotate(180deg) translateX(5px);
}
